  
<form class="wrapper-center" [formGroup]="loginGroup">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" required>
  </mat-form-field>

  <button mat-raised-button type="submit" (click)="login()" [disabled]="!loginGroup.valid">Login</button>
  <button mat-raised-button (click)="goBack()">Back</button>
  <button mat-raised-button routerLing="/parking-lot">Main Page</button>
</form>
<button mat-raised-button routerLink="/register">Register</button>