.center {
    margin: auto;
    color: white;
    background-color: #616161
  }
  .head{
background-color:#616161 ;
text-align: center;
}
  .buttons{
      width: 1800px;
      text-align: center;
  }
  #datum{
      color: white;
  }
  .places{
    width: 1800px;
    padding-top: 20px;
    text-align: center;
}
#riadok{
height: 150px;
}