      <h1 id="xd">Parking Lot Form</h1>
      <form [formGroup]="createGroup" id="form">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="NameOfPL">
          <mat-error>
            Name is required
          </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">    
      <mat-label>Number of parking places</mat-label>
        <input matInput formControlName="NumberOfPP" required>
            <mat-error></mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">    
    <mat-label>Number of assigned parking places</mat-label>
        <input matInput formControlName="NumberOfPPP">
            <mat-error></mat-error>
    </mat-form-field><br>
    </form>
<button mat-raised-button color="primary" (click)="create()" type="submit">Create</button>
<button mat-raised-button routerLink="/parking-lot" color="primary">Main page</button>