<div *ngIf="place" >
  <h2>Detail of parking place number {{place.id}}</h2>
  <table class="table">
    <TR>
      <TD></TD>
      <TD>{{place.day[0]}}</TD>
      <TD>{{place.day[1]}}</TD>
      <TD>{{place.day[2]}}</TD>
      <TD>{{place.day[3]}}</TD>
      <TD>{{place.day[4]}}</TD>
      <TD>{{place.day[5]}}</TD>
      <TD>{{place.day[6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[0]}}</TD>
      <TD>{{place.isAvailable[0][0]}}</TD>
      <TD>{{place.isAvailable[0][1]}}</TD>
      <TD>{{place.isAvailable[0][2]}}</TD>
      <TD>{{place.isAvailable[0][3]}}</TD>
      <TD>{{place.isAvailable[0][4]}}</TD>
      <TD>{{place.isAvailable[0][5]}}</TD>
      <TD>{{place.isAvailable[0][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[1]}}</TD>
      <TD>{{place.isAvailable[1][0]}}</TD>
      <TD>{{place.isAvailable[1][1]}}</TD>
      <TD>{{place.isAvailable[1][2]}}</TD>
      <TD>{{place.isAvailable[1][3]}}</TD>
      <TD>{{place.isAvailable[1][4]}}</TD>
      <TD>{{place.isAvailable[1][5]}}</TD>
      <TD>{{place.isAvailable[1][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[2]}}</TD>
      <TD>{{place.isAvailable[2][0]}}</TD>
      <TD>{{place.isAvailable[2][1]}}</TD>
      <TD>{{place.isAvailable[2][2]}}</TD>
      <TD>{{place.isAvailable[2][3]}}</TD>
      <TD>{{place.isAvailable[2][4]}}</TD>
      <TD>{{place.isAvailable[2][5]}}</TD>
      <TD>{{place.isAvailable[2][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[3]}}</TD>
      <TD>{{place.isAvailable[3][0]}}</TD>
      <TD>{{place.isAvailable[3][1]}}</TD>
      <TD>{{place.isAvailable[3][2]}}</TD>
      <TD>{{place.isAvailable[3][3]}}</TD>
      <TD>{{place.isAvailable[3][4]}}</TD>
      <TD>{{place.isAvailable[3][5]}}</TD>
      <TD>{{place.isAvailable[3][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[4]}}</TD>
      <TD>{{place.isAvailable[4][0]}}</TD>
      <TD>{{place.isAvailable[4][1]}}</TD>
      <TD>{{place.isAvailable[4][2]}}</TD>
      <TD>{{place.isAvailable[4][3]}}</TD>
      <TD>{{place.isAvailable[4][4]}}</TD>
      <TD>{{place.isAvailable[4][5]}}</TD>
      <TD>{{place.isAvailable[4][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[5]}}</TD>
      <TD>{{place.isAvailable[5][0]}}</TD>
      <TD>{{place.isAvailable[5][1]}}</TD>
      <TD>{{place.isAvailable[5][2]}}</TD>
      <TD>{{place.isAvailable[5][3]}}</TD>
      <TD>{{place.isAvailable[5][4]}}</TD>
      <TD>{{place.isAvailable[5][5]}}</TD>
      <TD>{{place.isAvailable[5][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[6]}}</TD>
      <TD>{{place.isAvailable[6][0]}}</TD>
      <TD>{{place.isAvailable[6][1]}}</TD>
      <TD>{{place.isAvailable[6][2]}}</TD>
      <TD>{{place.isAvailable[6][3]}}</TD>
      <TD>{{place.isAvailable[6][4]}}</TD>
      <TD>{{place.isAvailable[6][5]}}</TD>
      <TD>{{place.isAvailable[6][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[7]}}</TD>
      <TD>{{place.isAvailable[7][0]}}</TD>
      <TD>{{place.isAvailable[7][1]}}</TD>
      <TD>{{place.isAvailable[7][2]}}</TD>
      <TD>{{place.isAvailable[7][3]}}</TD>
      <TD>{{place.isAvailable[7][4]}}</TD>
      <TD>{{place.isAvailable[7][5]}}</TD>
      <TD>{{place.isAvailable[7][6]}}</TD>
    </TR>
    <TR>
      <TD>{{place.time[8]}}</TD>
      <TD>{{place.isAvailable[8][0]}}</TD>
      <TD>{{place.isAvailable[8][1]}}</TD>
      <TD>{{place.isAvailable[8][2]}}</TD>
      <TD>{{place.isAvailable[8][3]}}</TD>
      <TD>{{place.isAvailable[8][4]}}</TD>
      <TD>{{place.isAvailable[8][5]}}</TD>
      <TD>{{place.isAvailable[8][6]}}</TD>
    </TR>
       <TR>
      <TD>{{place.time[9]}}</TD>
      <TD>{{place.isAvailable[9][0]}}</TD>
      <TD>{{place.isAvailable[9][1]}}</TD>
      <TD>{{place.isAvailable[9][2]}}</TD>
      <TD>{{place.isAvailable[9][3]}}</TD>
      <TD>{{place.isAvailable[9][4]}}</TD>
      <TD>{{place.isAvailable[9][5]}}</TD>
      <TD>{{place.isAvailable[9][6]}}</TD>
    </TR>
    <TR>
    <TD>{{place.time[10]}}</TD>
    <TD>{{place.isAvailable[10][0]}}</TD>
    <TD>{{place.isAvailable[10][1]}}</TD>
    <TD>{{place.isAvailable[10][2]}}</TD>
    <TD>{{place.isAvailable[10][3]}}</TD>
    <TD>{{place.isAvailable[10][4]}}</TD>
    <TD>{{place.isAvailable[10][5]}}</TD>
    <TD>{{place.isAvailable[10][6]}}</TD>
  </TR>
  <TR>
  <TD>{{place.time[11]}}</TD>
  <TD>{{place.isAvailable[11][0]}}</TD>
  <TD>{{place.isAvailable[11][1]}}</TD>
  <TD>{{place.isAvailable[11][2]}}</TD>
  <TD>{{place.isAvailable[11][3]}}</TD>
  <TD>{{place.isAvailable[11][4]}}</TD>
  <TD>{{place.isAvailable[11][5]}}</TD>
  <TD>{{place.isAvailable[11][6]}}</TD>
</TR>
  </table>
  <button routerLink="/book-form/{{place.id}}"  mat-raised-button color="primary">Book</button>
<button mat-raised-button color="primary" (click)="goBack()" class="back">go back</button>