<div *ngIf="place" >
  <h2>Detail of parking place number {{place.id}}</h2>
  <table class="table">
    <TR>
      <TD></TD>
      <TD>{{place.day[0]}}</TD>
      <TD>{{place.day[1]}}</TD>
      <TD>{{place.day[2]}}</TD>
      <TD>{{place.day[3]}}</TD>
      <TD>{{place.day[4]}}</TD>
      <TD>{{place.day[5]}}</TD>
      <TD>{{place.day[6]}}</TD>
    </TR>
    <tr *ngFor="let i of timeIndexes">
      <td>{{place.time[i]}}</td>
      <td *ngFor="let j of dateIndexes">
        <div *ngIf="place.isAvailable[j][i]; else elseB">
          {{place.isAvailable[j][i]}}
        </div>
      <ng-template #elseB>
        {{place.isAvailable[j][i]}}
      </ng-template>
      </td>
      </tr>

  </table>
  <button routerLink="/book-form/{{place.id}}"  mat-raised-button color="primary">Book</button>
  <button routerLink="/unbook-form/{{place.id}}"  mat-raised-button color="primary">Unbook</button>
<button mat-raised-button color="primary" (click)="goBack()" class="back">go back</button>