<h1>Rezervačný formulár pre parkovacie miesto číso {{places.id}}</h1>
<div class="form">
<mat-form-field appearance="fill">
  <mat-label>Number of to days</mat-label>
  <mat-select [(value)]="selectedNumber">
    <mat-option [value]="number.value" *ngFor="let number of numbers">
      {{number.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Day to book</mat-label>
  <mat-select [(value)]="selectedDay">
    <mat-option *ngFor="let i of daysIndexes" [value]="places.reservation[i].day" (click)="choosedDay(selectedDay)">
      {{places.reservation[i].day}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Start time</mat-label>
    <mat-select [(value)]="selectedStartTime">
      <mat-option *ngFor="let i of timesIndexes" [value]="places.reservation[i].startTime" (click)="choosedStartHour(selectedStartTime)">
        {{places.reservation[i].startTime}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>End time</mat-label>
    <mat-select [(value)]="selectedEndTime">
      <mat-option *ngFor="let i of timesIndexes" [value]="places.reservation[i].endTime" (click)="choosedEndHour(selectedEndTime)">
        {{places.reservation[i].endTime}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button mat-raised-button color="primary" routerLink="/dashboard" id="book" (click)="book()" *ngIf="isCuAv;else B">Book</button>
<ng-template #B><button mat-raised-button color="primary" routerLink="/dashboard" id="book" (click)="book()" disabled>Book</button></ng-template>