.form{
    position: fixed;
    right: 550px;
    max-width: 600px;
    top:600px;
}
.style{
    width: 200px; height: 35px; border-radius: 5px;
}
#book{
    position: fixed;
    top: 800px;
    right: 180px;
}
