<h1>Rezervačný fromulár pre parkovacie miesto číso {{place.id}}</h1>
<div class="form">
<mat-form-field appearance="fill">
  <mat-label>Number of to book</mat-label>
  <mat-select [(value)]="selectednumber">
    <mat-option [value]="number.value" *ngFor="let number of numbers">
      {{number.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Day to book</mat-label>
    <mat-select [(value)]="selectedday">
      <mat-option *ngFor="let place of place.day" [value]="place">
        {{place}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Time of day to book</mat-label>
    <mat-select [(value)]="selectedtime">
      <mat-option *ngFor="let Time of place.time" [value]="Time">
        {{Time}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button mat-raised-button color="primary" routerLink="/dashboard" id="book">Rezervovať</button>
<button mat-raised-button color="primary" (click)="goBack()" class="back" id="back">Back</button>
<button routerLink="/dashboard" mat-raised-button color="primary" id="dashboard">Hlavná stránka</button>
<span>{{selectednumber}}</span><br>
<span>{{selectedday}}</span><br>
<span>{{selectedtime}}</span>