<mat-card>
    <table class="buttons">
    <TD><button mat-raised-button color="primary">Pondelok</button></TD>
    <TD><button mat-raised-button color="primary">Utorok</button></TD>
    <TD><button mat-raised-button color="primary">Streda</button></TD>
    <TD><button mat-raised-button color="primary">Štvrtok</button></TD>
    <TD><button mat-raised-button color="primary">Piatok</button></TD>
    <TD><button mat-raised-button color="primary" >Sobota</button></TD>
    <TD><button mat-raised-button color="primary">Nedeľa</button></TD>
  </table>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="0.1:0.1">
      
      <mat-grid-tile *ngFor="let place of places" id="riadok">
      <button mat-raised-button routerLink="/detail/{{place.id}}"><span>{{place.id}}</span></button>
      </mat-grid-tile>
    
    </mat-grid-list>
  </mat-card-content>
</mat-card>