.center {
    margin: auto;
    color: white;
  }
  .head{
background-color:#1a237e ;
text-align: center;
}
  .buttons{
      width: 1800px;
      text-align: center;
  }
  #datum{
      color: white;
  }
  .places{
    padding-top: 20px;
    text-align: center;
    
}
#riadok{
height: 150px;
}
.mat-tab{
padding: 100px;
}
