<mat-card>
  <app-filter></app-filter>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Pondelok">
    <mat-grid-list cols="8" rowHeight="0.1:0.1">
      <mat-grid-tile *ngFor="let place of places; index as i" id="riadok">
        <div *ngIf="dashboardFilter[i]">
      <button mat-raised-button routerLink="/detail/{{place.id}}" color="accent" *ngIf="place.isAvailable[0][I]; else elseB"><span>{{place.id}}</span></button>
      <ng-template #elseB><button mat-raised-button routerLink="/detail/{{place.id}}" color="warn" ><span>{{place.id}}</span></button></ng-template>
    </div>  
    </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Utorok">
    <mat-grid-list cols="8" rowHeight="0.1:0.1">
      <mat-grid-tile *ngFor="let place of places" id="riadok">
      <button mat-raised-button routerLink="/detail/{{place.id}}" color="accent" *ngIf="place.isAvailable[1][I]; else elseB"><span>{{place.id}}</span></button>
      <ng-template #elseB><button mat-raised-button routerLink="/detail/{{place.id}}" color="warn" ><span>{{place.id}}</span></button></ng-template>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Streda">
    <mat-grid-list cols="8" rowHeight="0.1:0.1">
      <mat-grid-tile *ngFor="let place of places" id="riadok">
      <button mat-raised-button routerLink="/detail/{{place.id}}" color="accent" *ngIf="place.isAvailable[2][I]; else elseB"><span>{{place.id}}</span></button>
      <ng-template #elseB><button mat-raised-button routerLink="/detail/{{place.id}}" color="warn" ><span>{{place.id}}</span></button></ng-template>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Štvrtok">
    <mat-grid-list cols="8" rowHeight="0.1:0.1">
      <mat-grid-tile *ngFor="let place of places" id="riadok">
      <button mat-raised-button routerLink="/detail/{{place.id}}" color="accent" *ngIf="place.isAvailable[3][I]; else elseB"><span>{{place.id}}</span></button>
      <ng-template #elseB><button mat-raised-button routerLink="/detail/{{place.id}}" color="warn" ><span>{{place.id}}</span></button></ng-template>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Piatok">
    <mat-grid-list cols="8" rowHeight="0.1:0.1">
      <mat-grid-tile *ngFor="let place of places" id="riadok">
      <button mat-raised-button routerLink="/detail/{{place.id}}" color="accent" *ngIf="place.isAvailable[4][I]; else elseB"><span>{{place.id}}</span></button>
      <ng-template #elseB><button mat-raised-button routerLink="/detail/{{place.id}}" color="warn" ><span>{{place.id}}</span></button></ng-template>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Sobota">
    <mat-grid-list cols="8" rowHeight="0.1:0.1">
      <mat-grid-tile *ngFor="let place of places" id="riadok">
      <button mat-raised-button routerLink="/detail/{{place.id}}" color="accent" *ngIf="place.isAvailable[5][I]; else elseB"><span>{{place.id}}</span></button>
      <ng-template #elseB><button mat-raised-button routerLink="/detail/{{place.id}}" color="warn" ><span>{{place.id}}</span></button></ng-template>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Nedeľa">
    <mat-grid-list cols="8" rowHeight="0.1:0.1">
      <mat-grid-tile *ngFor="let place of places" id="riadok">
      <button mat-raised-button routerLink="/detail/{{place.id}}" color="accent" *ngIf="place.isAvailable[6][I]; else elseB"><span>{{place.id}}</span></button>
      <ng-template #elseB><button mat-raised-button routerLink="/detail/{{place.id}}" color="warn" ><span>{{place.id}}</span></button></ng-template>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  </mat-tab-group>
  </mat-card-content>
</mat-card>